.choise-row, .selection-row{
    cursor: pointer;
}
.selection-row{
    color: blue;
    font-weight: bold;
}
.choise-row{
    font-style: italic;
}

.multi-selct-block {
    display: block;
    border: 1px solid black;
    margin: 2px;
    background-color: white;
    padding: 5px;
}
.no-active{
    display: none;
}
.active{
    display: block;
}
.selected-items{
    max-height: 60px;
    overflow: auto;
}
.choise-items{
    max-height: 100px;
    overflow: auto;
}